<div class="mt-3">
    <h2 class="text-center titulo">Adivina el número</h2>

    <p>Tendrás que adivinar un número del 1 al 100, contaremos tus intentos así que veremos qué tan bueno eres...</p>

    <div class="mt-4 mb-2 d-flex justify-content-center" *ngIf="intentos!=0">
        <p class="mr-2">Intento: </p><span>{{intentos}}</span>
    </div>
    
    <div class="mt-2 d-flex justify-content-center">
        <input type="number" name="num" placeholder="Número del 1 al 100" [(ngModel)]="numJug">
    </div>

    <div class="mt-2 mb-1 d-flex justify-content-center">
        <p *ngIf="resultado!=''">{{resultado}}</p>
    </div>

    <div class="mt-2 d-flex justify-content-center">
        <button class="btn btn-primary-blue ml-1" (click)="jugar()">Jugar</button>
        <button class="btn btn-primary-blue ml-1" (click)="resetear()">Reset</button>
        <button class="btn btn-primary-blue ml-1" routerLink="/juegos">Salir</button>
    </div>
</div>
