<app-topmenu></app-topmenu>

<div class="mt-4 mb-4 mb-5 d-flex justify-content-center">
  <h1 class="titulo">Juegos</h1>
</div>

<div class="container mt-4 mb-4">

  <div class="grid-juegos mx-auto text-center">
    <a routerLink="/juegos/tateti" (click)="recibeRutaJuego('Tatetí')"><img class="tamanoimg" src="././assets/imagenes/tateti.png" ></a>
    <a routerLink="/juegos/ppt" (click)="recibeRutaJuego('PPT')"><img class="tamanoimg" src="././assets/imagenes/pptac.png"></a>
    <a routerLink="/juegos/adivina-numero" (click)="recibeRutaJuego('Adivina')"><img class="tamanoimg" src="././assets/imagenes/numeros.png"></a>
    <a routerLink="/juegos/mayor-menor" (click)="recibeRutaJuego('Mayor o Menor')"><img class="tamanoimg" src="././assets/imagenes/mayormenor.png"></a>
    <a routerLink="/juegos/ahorcado" (click)="recibeRutaJuego('Ahorcado')"><img class="tamanoimg" src="././assets/imagenes/ahorcado.png"></a>
    <a routerLink="/juegos/dados" (click)="recibeRutaJuego('Dados')"><img class="tamanoimg" src="././assets/imagenes/dados.png"></a>
  </div>

  <div class="container mt-5 mb-4 d-flex justify-content-center">
    <div>
      <router-outlet></router-outlet>
    </div>
    <div>
      <app-chat></app-chat>
    </div>
  </div>

</div>
