<app-topmenu></app-topmenu>

<body>
  <div class="mt-4 mb-4 mb-5 d-flex justify-content-center">
    <h1 class="titulo">Juegos</h1>
  </div>
  <div class="container mt-4 mb-4">
    <div class="flex grid-juegos mx-auto justify-content-center text-center">
      <!--button class="btn btn-outline-primary-blue mr-5" type="button" routerLink="/juegos/tateti">Tateti</button-->
      <a routerLink="/juegos/tateti"><img class="tamanoimg" src="././assets/imagenes/tateti.png"></a>
      <!--button class="btn btn-outline-primary-blue mr-5" type="button" routerLink="/juegos/ppt">Piedra, Papel o Tijera</button-->
      <a routerLink="/juegos/ppt"><img class="tamanoimg" src="././assets/imagenes/pptac.png"></a>
      <!--button class="btn btn-outline-primary-blue" type="button" routerLink="/juegos/adivina-numero">Adivina el Número</button-->
      <a routerLink="/juegos/adivina-numero"><img class="tamanoimg" src="././assets/imagenes/numeros.png"></a>
    </div>
    <div class="container mt-5 mb-4 d-flex justify-content-center">
      <div>
        
        <router-outlet></router-outlet>
      </div>
      <!-- <div>
        <app-listado-resultados></app-listado-resultados>
      </div> -->
      <!-- <app-adivina-numero></app-adivina-numero>
      <app-listado-resultados></app-listado-resultados> -->
    </div>
  </div>
<body>
