<app-topmenu></app-topmenu>

<div class="mt-4 mb-4 mb-5 d-flex justify-content-center">
  <h1 class="titulo">Juegos</h1>
</div>

<div class="container mt-4 mb-4">

  <div class="grid-juegos mx-auto text-center" *ngIf="juegoSeleccionado==false">
    <a routerLink="/juegos/tateti"><img class="tamanoimg" src="././assets/imagenes/tateti.png" (click)="seleccionaJuego()"></a>
    <a routerLink="/juegos/ppt"><img class="tamanoimg" src="././assets/imagenes/pptac.png" (click)="seleccionaJuego()"></a>
    <a routerLink="/juegos/adivina-numero"><img class="tamanoimg" src="././assets/imagenes/numeros.png" (click)="seleccionaJuego()"></a>
    <a routerLink="/juegos/mayor-menor"><img class="tamanoimg" src="././assets/imagenes/mayormenor.png" (click)="seleccionaJuego()"></a>
    <a routerLink="/juegos/ahorcado"><img class="tamanoimg" src="././assets/imagenes/ahorcado.png" (click)="seleccionaJuego()"></a>
    <a routerLink="/juegos/dados"><img class="tamanoimg" src="././assets/imagenes/dados.png" (click)="seleccionaJuego()"></a>
  </div>

  <!-- <div class="grid-juegos mx-auto text-center" *ngIf="juegoSeleccionado==true">
    <button class="btn btn-outline-primary-blue mr-3" type="button" routerLink="/juegos/tateti">Tateti</button>
    <button class="btn btn-outline-primary-blue mr-3" type="button" routerLink="/juegos/ppt">Piedra, Papel o Tijera</button>
    <button class="btn btn-outline-primary-blue" type="button" routerLink="/juegos/adivina-numero">Adivina el Número</button>
    <button class="btn btn-outline-primary-blue mr-3" type="button" routerLink="/juegos/adivina-numero">Mayor o Menor</button>
    <button class="btn btn-outline-primary-blue mr-3" type="button" routerLink="/juegos/adivina-numero">Ahorcado</button>
    <button class="btn btn-outline-primary-blue" type="button" routerLink="/juegos/adivina-numero">Dados</button>
  </div> -->

    <div class="container mt-5 mb-4 d-flex justify-content-center">
      <div>
        <router-outlet></router-outlet>
      </div>
      <!-- <div>
        <app-listado-resultados></app-listado-resultados>
      </div> -->
      <!-- <app-adivina-numero></app-adivina-numero>
      <app-listado-resultados></app-listado-resultados> -->
    </div>

</div>
