.grid-juegos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.btn-outline-primary-blue {
    border: 1px solid #172a74 !important;
    color: #172a74;
    height: 40px
}

.btn-outline-primary-blue:hover {
    border: 1px solid #37d3f6 !important;
    color: #fff;
    height: 40px;
    background-color: #37d3f6
}

.titulo {
    color: #172a74;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 550;
}

.tamanoimg {
    width:300px;
    height:400px;
}

.tamanoimg:hover{
    width:350px;
    height:450px;
}