.header-blue {
    background:linear-gradient(135deg, #172a74, #21a9af);
    background-color:#184e8e;
    padding-bottom:30px;
    font-family:'Source Sans Pro', sans-serif;
}
  
.header-blue .navbar {
    background:transparent;
    padding-top:.75rem;
    padding-bottom:.75rem;
    color:#fff;
    border-radius:0;
    box-shadow:none;
    border:none;
}
  
.header-blue .navbar .navbar-brand {
    font-weight:bold;
    color:inherit;
}
  
.header-blue .navbar .navbar-brand:hover {
    color:#f0f0f0;
}
  
.header-blue .navbar .navbar-collapse {
    margin-top:.5rem;
}
  
.header-blue .navbar .navbar-collapse span .login {
    color:#d9d9d9;
    margin-right:.5rem;
    text-decoration:none;
}
  
.header-blue .navbar .navbar-collapse span .login:hover {
    color:#fff;
}
  
.header-blue .navbar .navbar-toggler {
    border-color:rgba(255,255,255,0.3);
}
  
.header-blue .navbar .navbar-toggler:hover, .header-blue .navbar-toggler:focus {
    background:none;
}
  
.header-blue .navbar .navbar-nav a.active, .header-blue .navbar .navbar-nav > .show .dropdown-item {
    background:none;
    box-shadow:none;
}
  
.header-blue .navbar .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    background-color:#fff;
    border-radius:2px;
}
  
.header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
    line-height:2;
    color:#37434d;
}
  
.header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item:hover {
    background:#ebeff1;
}
  
.header-blue .action-button, .header-blue .action-button:not(.disabled):active {
    border:1px solid rgba(255,255,255,0.7);
    border-radius:40px;
    color:#ebeff1;
    box-shadow:none;
    text-shadow:none;
    padding:.3rem .8rem;
    background:transparent;
    transition:background-color 0.25s;
    outline:none;
}
  
.header-blue .action-button:hover {
    color:#fff;
}