<div class="mt-3">
    <h2 class="text-center titulo">Ahorcado</h2>

    <div class="text-center">
        <img *ngIf="imagen==1" src="././assets/imagenes/ahorcado/uno.png">
        <img *ngIf="imagen==2" src="././assets/imagenes/ahorcado/dos.png"> 
        <img *ngIf="imagen==3" src="././assets/imagenes/ahorcado/tres.png"> 
        <img *ngIf="imagen==4" src="././assets/imagenes/ahorcado/cuatro.png"> 
        <img *ngIf="imagen==5" src="././assets/imagenes/ahorcado/cinco.png"> 
        <img *ngIf="imagen==6" src="././assets/imagenes/ahorcado/seis.png"> 
        <img *ngIf="imagen==7" src="././assets/imagenes/ahorcado/siete.png"> 
    </div>

    <div class="text-center mb-2">
        <span class="palabra-visible" *ngIf="palabraVisible!='' ">{{palabraVisible}}</span>
    </div>

    <div class="teclado-contenedor text-center mt-4" *ngIf="tecladoActivado==1">
        <div class="teclado-letra" (click)="tomaLetra(letra)" *ngFor="let letra of letras">{{letra}}</div>
    </div>

    <div class="teclado-contenedor text-center mt-4" *ngIf="tecladoActivado==0">
        <div class="teclado-letra" *ngFor="let letra of letras">{{letra}}</div>
    </div>

    <div class="mt-2 mb-1 d-flex justify-content-center">
        <p *ngIf="resultado!=''">{{resultado}}</p>
    </div>

    <div class="mt-2 d-flex justify-content-center">
        <button class="btn btn-primary-blue ml-1" (click)="resetear()">Reset</button>
        <button class="btn btn-primary-blue ml-1" routerLink="/juegos">Salir</button>
    </div>

</div>
