.ficha {
    margin: 0 auto;
    text-align: center;
}

.ficha button {
    display: inline-block;
    background: #649BEA;
    padding: 10px;
    border: 2px solid;
    border-radius: 30%;
    margin: 10px 2px;
    cursor: pointer;
    color: white;
    border-color: #649BEA;
    font-size: larger;
}

#tablero {
	height: 248px;
	width: 248px;
	margin: 30px auto;
}
	
.celda {
    display: none;
    float: left;
    background: #fff;
	height: 80px;
	width: 80px;
	border: solid 2px black;
    font-size: 20pt;
    text-align: center;
}

.celda-cero{
    border-left: #fff;
}

.celda-top{
    border-top: #fff;
}

.celda-bottom{
    border-bottom: #fff;
}

.celda-dos{
    border-right: #fff;
}

#tablero:after {
    display: block;
    content: "";
    clear: both;
}

.btn-primary-blue {
    border: 1px solid #172a74 !important;
    color: #fff;
    height: 40px;
    background-color: #172a74
}

.btn-primary-blue:hover {
    font-size: large;
}

.texto-negritas{
    font-weight: 500;
    font-size: large;
}

.titulo {
    color: #172a74;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 550;
}