.ficha {
    margin: 0 auto;
    text-align: center;
}

.ficha button {
    display: inline-block;
    background: #649BEA;
    padding: 10px;
    border: 2px solid;
    border-radius: 30%;
    margin: 10px 2px;
    cursor: pointer;
    color: white;
    border-color: #649BEA;
    font-size: larger;
}

#tablero {
	height: 248px;
	width: 248px;
	margin: 30px auto;
}
	
.celda {
    display: none;
    float: left;
    background: #fff;
	height: 80px;
	width: 80px;
	border: solid 2px black;
    font-size: 20pt;
    text-align: center;
}

.celda-cero{
    border-left: #fff;
}

.celda-top{
    border-top: #fff;
}

.celda-bottom{
    border-bottom: #fff;
}

.celda-dos{
    border-right: #fff;
}

/* clear para los floats */

#tablero:after {
    display: block;
    content: "";
    clear: both;
}

.marcador {
    display: none;
    margin-left: 30px;
}