<div class="limiter">
    <div class="container-login100">
            <div class="wrap-login100">
                <form [formGroup]="forma" class="login100-form" (ngSubmit)="ingresar()">
                    <span class="login100-form-title p-b-26"> Ingreso </span>
                    <div class="login100-form-title">
                        <a routerLink="/bienvenida">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-3" width="100" height="100" viewBox="0 0 24 24" stroke-width="2" stroke="#00bfd8" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M12 12a2 2 0 1 0 -2 -2" />
                                <path d="M10 14a2 2 0 1 0 2 -2" />
                                <circle cx="12" cy="12" r="9" />
                            </svg>
                        </a>
                    </div>

                    <div class="wrap-input100">
                        <input class="input100" type="email" name="nombre" placeholder="Email" formControlName="email">
                    </div>
                    <small  class="texto-validacion text-center" 
                    *ngIf="forma.controls['email'].errors?.['required'] && forma.controls['email'].touched">
                        El nombre es requerido.
                    </small>

                    <div class="wrap-input100">
                        <input class="input100" type="password" name="pass" placeholder="Contraseña" formControlName="contrasena">
                    </div>
                    <small class="texto-validacion text-center"
                    *ngIf="forma.controls['contrasena'].errors?.['required'] && forma.controls['contrasena'].touched">
                        La contraseña es requerida.
                    </small>

                    <div class="mt-4 mb-1 d-flex justify-content-center">
                        <p class="texto-validacion" *ngIf="resultado==false">{{msjValidacion}}</p>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button type="submit" class="login100-form-btn" 
                            [disabled]="forma.invalid">
                                Ingresar
                            </button>
                        </div>
                    </div>

                    <div class="text-center p-t-115">
                        <span class="txt1"> No tienes una cuenta? </span>
                        <a class="txt2" routerLink="/registro"> Registrate </a>
                    </div>
                </form>
            </div>
        </div>
</div>