<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
</head>

<body>
    <div>
        <div class="header-blue">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container">
                    <a class="navbar-brand" routerLink="/bienvenida">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-3" width="48" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 12a2 2 0 1 0 -2 -2" />
                            <path d="M10 14a2 2 0 1 0 2 -2" />
                            <circle cx="12" cy="12" r="9" />
                        </svg>
                    </a>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="/quien-soy">Quién Soy</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="/juegos">Juegos</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="/encuesta">Encuesta</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="/comprar-juego">Comprar</a></li>
                        </ul>
                        <form class="form-inline mr-auto" target="_self">
                            <!--div class="form-group">
                                <label for="search-field">
                                    <i class="fa fa-search"></i>
                                </label>
                                <input class="form-control search-field" type="search" name="search" id="search-field">
                            </div-->
                        </form>

                        <div class="d-flex" *ngIf="estaLogueado==false">
                            <span class="navbar-text">
                                <a class="login" routerLink="/login">Ingreso</a>
                            </span>
                            <div>
                                <a class="btn btn-light action-button" role="button" routerLink="/registro">Registro</a> 
                            </div>
                        </div>

                        <div class="d-flex" *ngIf="estaLogueado==true">
                            <span class="navbar-text">
                                <a class="login" role="button" (click)="desloguear()">Log Out</a>
                            </span>
                            <div *ngFor="let usuario of arrayUsuario; let i = index">
                                <div class="btn btn-light action-button">{{usuario.nombre}}</div> 
                            </div>
                        </div>
                        
                    </div>
                </div>
            </nav>
        </div>
    </div>

</body>

